body {
    background-color: black;
    color: green;
    font-family: monospace;
    text-align: center;
    padding-top: 100px;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.terminal {
    padding: 20px;
    border: 1px solid green;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    margin-bottom: 20px;
}

.terminal .prompt-text {
    color: green;
    text-align: left;
    margin-bottom: 10px;
}

.terminal input {
    background-color: black;
    color: green;
    border: none;
    outline: none;
    font-family: monospace;
    width: 100%;
}

.terminal input[type="text"] {
    display: none;
}
